@model WebApp.Models.ViewModel.ManageHubUserViewModel
@{
    ViewData["Title"] = "ManageHubUser";
}

<br />
<div class=" backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Gabinet @Html.Raw(Model.GroupName)</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Details" asp-route-roomNo="@Model.GroupName" class="btn btn-success">Info&nbsp;<i class="fas fa-info-circle"></i></a>
            <a asp-action="Index" class="btn btn-info">Powrót</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.ConnectedUsers.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Id
                    </th>
                    <th>
                        Rodzaj
                    </th>
                    <th>
                        Nazwisko
                    </th>
                </tr>
                <tr>
                    <td>
                        Użytkownicy podłączeni i klienci
                    </td>
                </tr>
                @foreach (var item in Model.ConnectedUsers)
                {
                    <tr @if (item.UserId == Model.GroupMaster.Id) { 
                        @Html.Raw("style='background: tan'")
                    }>
                        <td class="align-middle">
                            @Html.DisplayFor(m => item.ConnectionId)
                        </td>
                        <td class="align-middle">
                            @if(item.UserId != null)
                            {
                                @Html.Raw("Użytkownik")
                            }
                            else
                            {
                                @Html.Raw("Klient")
                            }
                        </td>
                        <td class="align-middle">
                            @if(item.UserId != null)
                            {
                                @Html.Raw(Model.GroupMaster.LastName)
                            }
                        </td>
                    </tr>
                }
                @if (Model.WaitingUsers.Count() > 0)
                {
                    <tr>
                        <td>
                            Użytkownicy oczekujący na podłączenie
                        </td>
                    </tr>
                    @foreach (var waitingUser in Model.WaitingUsers)
                    {
                        <tr>
                            <td class="align-middle">
                                @Html.DisplayFor(m => waitingUser.ConnectionId)
                            </td>
                            <td class="align-middle">
                                Oczekujący
                            </td>
                            <td class="align-middle">
                            </td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <p>Brak użytkowników</p>
        }
    </div>

</div>

